@import url(http://fonts.googleapis.com/css?family=Supermercado+One|Share:400,400italic);
#notes {display:none!important}
html {
	font-family: 'Share', sans-serif;;
	background:url('../img/background-gplaypattern.png') #eee;
}
body {
	padding:0px 20px;
}
h1, h2, h3, h4, h5 {
	font-family:'Supermercado One', cursive;
	color:rgba(62, 206, 233, 0.87);
	margin-bottom:-15px;
}
h1 {
	font-size:60px;
	line-height:65px;
}
#subtitle{
	font-size:25px;
	line-height:25px;
	margin-top:-10px;
	margin-left:60px;
	letter-spacing:1px;
}
.field {
	height:30px;
	font-size:25px;
	line-height:25px;
	font-family:'Supermercado One', cursive;
	color:#222;
}
input:focus {
	background-color:#ECF6FF;
}
#spinner {
	display:block;
	height:50px;
	width:50px;
	background-image:url('../img/spinner.gif');
}
#thequery button{
	width: 50px;
	color: #fff;
	background-color: rgba(62, 206, 233, 0.87);
	height:34px;
	font-size:25px;
	line-height:25px;
	border-radius: 2px;
	box-shadow: 3px 3px 6px #888;
	border: none;
}
#thequery {
	display:none;
}
#results {
	width:90%;
	margin-left:5%;
	margin-right:5%;
	padding:20px;
	display:none;
	border-radius:8px;
	height:100%;
}
.track {
	height:60px;
	width:150px;
	background-color:rgba(0, 172, 226, 0.34);
	display:block;
	float:left;
	margin:10px;
	padding:5px;
	font-family:tahoma,helvetica,ariel,sans-serif;
	font-size:12px;
	background-size:100% 100%;
	border-radius:0px;
	background-repeat:no-repeat;
}
.track:hover {
	background-color:rgba(62, 206, 233, 0.87);
}
.spinning {
		background-image:url('img/spinner.gif') no-repeat;
		background-position: 50% 50%;
		height:200px;
		width:100%;
		display:block;
}
