@import url(//fonts.googleapis.com/css?family=Codystar|Supermercado+One|Share:400,400italic);

/* fontawesome */
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css);
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

html {
	font-family: 'Share', sans-serif;
			text-align:center;
			/* background:url('../img/background-gplaypattern.png') #eee; 
		 background:url('../img/sfnight.jpg') #eee;*/
		  background:url('../img/escheresque_ste_@2X.png') #eee;
		  
		  
	color:#979797;
}
body {
	padding:0px 30px;
}
h1, h2, h3, h4, h5 {
	font-family:'Supermercado One', cursive;
	color:rgba(0, 172, 226, 0.99);
	margin-bottom:-15px;
}
h1 {
	font-size:75px;
	line-height:95px;
	display:block;
	/*background:url('../img/effect_2.png');*/
	width:100%;
	margin-top:20px;
	rgba(0, 172, 226, 0.74);
		
}
/*.longshadow {color:rgba(66, 236, 250, 0.91);
  text-shadow: 0px 0px 0 #00CFEC,-1px 1px 0 #00CFEC,-2px 2px 0 #00CFEC,-3px 3px 0 #00CFEC,-4px 4px 0 #00CFEC,-5px 5px 0 #00CFEC,-6px 6px 0 #00CFEC,-7px 7px 0 #00CFEC,-8px 8px 0 #00CFEC,-9px 9px 0 #00CFEC,-10px 10px 0 #00CFEC,-11px 11px 0 #00CFEC,-12px 12px 0 #00CFEC;
}*/


#subtitle{
font-size: 24px;
font-family: Supermercado One;
color: rgba(133, 119, 125, 0.69);
line-height: 25px;
margin-top: 0px;
margin-left: 50px;
letter-spacing: 7px;
}
.field {
	height:30px;
	font-size:25px;
	line-height:25px;
	font-family:'Supermercado One', cursive;
	color:#222;
}
input:focus {
	background-color:#ECF6FF;
}
#spinner {
	display:inline-block;
	height:70px;
	width:70px;
	background-image:url('../img/spinner.gif');
	background-repeat:no-repeat;
}
#thequery button {
	width: 50px;
	color: #fff;
	background-color: rgba(0, 172, 226, 0.74);
	height:35px;
	font-size:25px;
	line-height:25px;
	border-radius: 2px;
	box-shadow: 3px 3px 6px #888;
	border: none;
}
button {
 	padding-right:10px;
 	padding-left:10px;
	color: #fff;
	background-color:rgba(0, 172, 226, 0.74);
	height:34px;
	font-size:25px;
	line-height:27px;
	border-radius: 2px;
	box-shadow: 3px 3px 6px #888;
	border: none;
	margin-bottom:100px;
}
button:hover {
	background-color:rgba(0, 177, 247, 0.12)!important;
}

#results {
	display:inline-block;
	width:95%;
	padding:5%;
	display:none;
	border-radius:8px;
	height:100%;
	margin-top:-25px;
	padding-bottom:80px;
}
.track {
	height:128px;
	width:128px;
	background-color:rgba(0, 0, 0, 0.72);
	display:block;
	float:left;
	margin:8px;
	padding:5px;
font-family:tahoma,helvetica,ariel,sans-serif;
	font-size:12px;
	background-size:100% 100%;
	border-radius:0px;
	background-repeat:no-repeat;
	text-align:left;
	color:#FFF;
	text-shadow:0px 2px 2px #000;
}
.track-wrap {
	display:block;
}
.track:hover {
	height:112px;
	width:112px;
	border:8px solid #FF4100;
}

.disclaimer {
	font-weight:300;
	font-family:helvetica, sans-serif;
	font-size:12px;
	color:#777;
}

#tippytop {
	font-size:18px;
	background-color:rgba(0, 177, 247, 0.12);
	display:block;
	padding:10px;
	position:absolute;
	top:0px;
	left:25px;
	
}
#newuserpanel {
	margin-top:70px;
	display:none;
}
#loginpanel {
	margin-top:70px;
	display:none;
}
a {
	color:#57D4EC;
	text-decoration:none;
}
a:hover {
	color:#00E2FC;
	font-size:26px;
	text-shadow: 0px 0px 8px #fff;
}

button:active {
	margin-top:2px;
}
.px20 {
	font-size:18px!important;
	width:250px;
}
#thequery {
	display:none;
	height:50px;
}
#main {
	width:100%;
	margin-top:-30px;
}
#player {
	display:inline-block;
	width:80%;
	margin-top:30px;
}
header {
	width:100%;
	display:block;
	min-height:30px;
}

.isPlaying {
		background-color:rgba(0, 172, 226, 1.00);
		height:112px;
	  width:112px;
	  border:8px solid rgba(0, 172, 226, 0.74);
}	
#spacer {
	height:200px;
	width:100%;
	display:block;
}
footer {
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	height:24px;
	padding-top:6px;padding-bottom:8px;
	background-color:	rgba(0, 172, 226, 0.54);
}

footer div {
	font-family:'Codystar', sans-serif;
	font-size:15px;
	color:#ccc;
}
